

.logo {
    min-width: 11rem;
    width: 40%;
    margin-bottom: 25px;
    padding: 25px;
    background-color: #ffffff38;
    border-radius: 15px;
}

.separador {
    height: 2px;
    background-color: #F26E35;
    width: 50%;
    box-shadow: 0px 2px 1px 1px #0000003a;
}

.containerBotoes {
    display: flex;
    margin-top: 25px;
}

.bttLinkLogin, .bttLinkCadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 150px;
    background-color: #F26E35;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
}

.bttLinkLogin {
    border-radius: 40px 0px 0px 40px;
}

.bttLinkCadastro {
    border-radius: 0px 40px 40px 0px;
    background-color: #FFFFFF;
    color: #000000;
}

.bttLinkCadastro:hover{
    box-shadow: 2px 5px 2px 1px #F26E35;
}

.bttLinkLogin:hover {
    box-shadow: -2px 3px 2px 1px #ffffff;
}

@media screen and (max-width: 375px){
    .bttLinkLogin, .bttLinkCadastro{
        width: 100px;
    }
}