.tela {
    background-image: url('../../img/backgroundCorp.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.efeito {
    background: linear-gradient(255deg, #0d0d0d -4.54%, #1a1a1aa1 190.91%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

}