
.logo {
    min-width: 12rem;
    width: 40%;
    max-width: 40rem;

    margin-bottom: 25px;
    padding: 25px;
    background-color: #ffffff38;
    border-radius: 15px;
}

.container {
    height: 40%;
    min-height: 25rem;
    width: 80%;
    min-width: 10rem;
    max-width: 40rem;

    border-radius: 5px;
    background-color: #c7c7c7;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

.form {
    width: 100%;
}

.alerta {
    color: #950707;
    text-align: center;
}